[submodule "user_data/data"]
	path = user_data/data
	#url = https://github.com/iterativv/NostalgiaForInfinityData.git
	url = https://github.com/Mandark-droid/NostalgiaForInfinityData.git
	branch = main
