---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=10240]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-symlinks
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: trailing-whitespace # Trims trailing whitespace.
        args: [--markdown-linebreak-ext=md]
      - id: mixed-line-ending # Replaces or checks mixed line ending.
        args: [--fix=lf]
      - id: end-of-file-fixer # Makes sure files end in a newline and only a newline.
        exclude: user_data/.*
      - id: check-merge-conflict # Check for files that contain merge conflict strings.
      - id: check-ast # Simply check whether files parse as valid python.
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: |
          (?x)^(
            .gitlab/ci/.*\.(json|yml|yaml)$|
            .gitlab-ci.yml
          )$
      - id: end-of-file-fixer
      - id: fix-byte-order-marker

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.8.2
    hooks:
      # Run the linter.
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
        types_or: [python, pyi, jupyter]
