# freqtrade==2024.5
# freqtrade @ git+https://github.com/freqtrade/freqtrade@releases/tag/2024.5
freqtrade
pandas-ta
pytest
pytest-mock
pytest-subtests
pytest-xdist
ast_comments
docxtpl
pytest-md
pytest-pretty
numba
