name: CI

on: [push, pull_request]

jobs:

  Pre-Commit:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - id: changed-files
      name: Get Changed Files
      uses: dorny/paths-filter@v2
      with:
        token: ${{ github.token }}
        list-files: shell
        filters: |
          repo:
            - added|modified:
              - '**'
    - name: Set Cache Key
      run: echo "PY=$(python --version --version | sha256sum | cut -d' ' -f1)" >> $GITHUB_ENV
    - uses: actions/cache@v2
      with:
        path: ~/.cache/pre-commit
        key: pre-commit|${{ env.PY }}|${{ hashFiles('.pre-commit-config.yaml') }}
    - name: Check ALL Files On Branch
      uses: pre-commit/action@v2.0.0
      if: github.event_name != 'pull_request'
    - name: Check Changed Files On PR
      uses: pre-commit/action@v2.0.0
      if: github.event_name == 'pull_request'
      with:
        extra_args: --files ${{ steps.changed-files.outputs.repo_files }}


  Binance-Backtests:
    strategy:
      fail-fast: false
      matrix:
        timerange:
          - 20210101-20210201
          - 20210201-20210301
          - 20210301-20210401
          - 20210401-20210501
          - 20210601-20210701
        opentrades:
          - 5
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Build Backtest Image
        run: docker-compose build backtesting

      - name: Run Backtest ${{ matrix.opentrades }} trades ${{ matrix.timerange }}
        env:
          MAX_OPEN_TRADES: ${{ matrix.opentrades }}
          STAKE_AMOUNT: unlimited
          TIMERANGE: ${{ matrix.timerange }}
          EXCHANGE: ${{ steps.dotenv.outputs.exchange }}
        run: docker-compose run -T --rm backtesting 1> backtest_${{ matrix.timerange }}_${{ matrix.opentrades }}.txt

      - name: Show Backtest ${{ matrix.timerange }} ${{ matrix.opentrades }}
        run: cat backtest_${{ matrix.timerange }}_${{ matrix.opentrades }}.txt

      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v2
        with:
          name: backtest_result
          path: backtest_${{ matrix.timerange }}_${{ matrix.opentrades }}.txt


  Kucoin-Backtests:
    strategy:
      fail-fast: false
      matrix:
        timerange:
          - 20210101-20210201
          - 20210201-20210301
          - 20210301-20210401
          - 20210401-20210501
          - 20210601-20210701
        opentrades:
          - 5
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Build Backtest Image
        run: docker-compose build backtesting

      - name: Run Backtest ${{ matrix.opentrades }} trades ${{ matrix.timerange }}
        continue-on-error: true
        env:
          MAX_OPEN_TRADES: ${{ matrix.opentrades }}
          STAKE_AMOUNT: unlimited
          TIMERANGE: ${{ matrix.timerange }}
          EXCHANGE: ${{ steps.dotenv.outputs.exchange }}
        run: docker-compose run -T --rm backtesting 1> backtest_${{ matrix.timerange }}_${{ matrix.opentrades }}.txt

      - name: Show Backtest ${{ matrix.timerange }} ${{ matrix.opentrades }}
        run: cat backtest_${{ matrix.timerange }}_${{ matrix.opentrades }}.txt

      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v2
        with:
          name: backtest_result
          path: backtest_${{ matrix.timerange }}_${{ matrix.opentrades }}.txt


  Binance-Backest-Tests:
    runs-on: ubuntu-20.04
    needs:
      - Pre-Commit
    strategy:
      fail-fast: false
      matrix:
        timerange:
          - 20210101-20210201
          - 20210201-20210301
          - 20210301-20210401
          - 20210401-20210501
          - 20210601-20210701

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Build Tests Image
        run: docker-compose build tests

      - name: Run Tests
        env:
          EXTRA_ARGS: tests/backtests -k 'binance and ${{ matrix.timerange }}'
        run: |
          mkdir artifacts
          chmod 777 artifacts
          docker-compose run --rm tests

      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: binance-testrun-artifacts
          path: artifacts/


  Kucoin-Backest-Tests:
    runs-on: ubuntu-20.04
    needs:
      - Pre-Commit
    strategy:
      fail-fast: false
      matrix:
        timerange:
          - 20210101-20210201
          - 20210201-20210301
          - 20210301-20210401
          - 20210401-20210501
          - 20210601-20210701

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Build Tests Image
        run: docker-compose build tests

      - name: Run Tests
        env:
          EXTRA_ARGS: tests/backtests -k 'kucoin and ${{ matrix.timerange }}'
        run: |
          mkdir artifacts
          chmod 777 artifacts
          docker-compose run --rm tests

      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: kucoin-testrun-artifacts
          path: artifacts/


  Remaining-Tests:
    runs-on: ubuntu-20.04
    needs:
      - Pre-Commit

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Build Tests Image
        run: docker-compose build tests

      - name: Run Tests
        env:
          EXTRA_ARGS: --ignore tests/backtests/
        run: |
          mkdir artifacts
          chmod 777 artifacts
          docker-compose run --rm tests
